fastapi~=0.63.0
google~=3.0.0
google-api-core~=1.26.3
google-auth~=1.28.1
google-cloud-vision~=2.3.0
googleapis-common-protos~=1.53.0
joblib~=1.0.1
nltk~=3.6.1
pydantic~=1.8.1
python-dotenv~=0.17.0
pandas~=1.2.3
plotly~=4.14.3
requests~=2.25.1
scikit-learn~=0.23.2
setuptools~=54.2.0
SQLAlchemy~=1.4.6
uvicorn[standard]~=0.13.4
